@{
    ViewData["Title"] = "Disenio";
}

<h1>Diseño</h1>
<li class="nav-item" role="presentation">
    <button class="nav-link active" id="arquitectura-tab" data-bs-toggle="tab" data-bs-target="#arquitectura" type="button" role="tab">Arquitectura de Software</button>
</li>
    <div class="tab-pane fade show active" id="arquitectura" role="tabpanel">
        <h3>Libros de Arquitectura de Software</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/clean-architecture.jpg" class="img-fluid" alt="Clean Architecture" />
                <p><strong>Clean Architecture</strong> - Robert C. Martin</p>
                <p>Principios y patrones para diseñar sistemas robustos y mantenibles.</p>
                <iframe src="https://www.youtube.com/embed/o_TH-Y78tt4" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="col-md-4">
                <img src="~/images/software-architecture-patterns.jpg" class="img-fluid" alt="Software Architecture Patterns" />
                <p><strong>Software Architecture Patterns</strong> - Mark Richards</p>
                <p>Explora los patrones más comunes de arquitectura de software.</p>
                <iframe src="https://www.youtube.com/embed/MYr8fHt0p4g" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="col-md-4">
                <img src="~/images/architecture-of-complex-systems.jpg" class="img-fluid" alt="The Architecture of Complex Systems" />
                <p><strong>The Architecture of Complex Systems</strong> - David L. Parnas</p>
                <p>Estudio sobre cómo manejar la complejidad en los sistemas.</p>
                <iframe src="https://www.youtube.com/embed/rtkxgtQJstY" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="col-md-4">
                <img src="~/images/designing-software-architectures.jpg" class="img-fluid" alt="Designing Software Architectures" />
                <p><strong>Designing Software Architectures</strong> - Humberto Cervantes, Rick Kazman</p>
                <p>Guía práctica para el diseño y la evaluación de arquitecturas de software.</p>
                <iframe src="https://www.youtube.com/embed/K2tOAcBzjrQ" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="col-md-4">
                <img src="~/images/software-architecture-for-developers.jpg" class="img-fluid" alt="Software Architecture for Developers" />
                <p><strong>Software Architecture for Developers</strong> - Simon Brown</p>
                <p>Una introducción accesible para los desarrolladores sobre arquitectura de software.</p>
                <iframe src="https://www.youtube.com/embed/znl0AK3g7-k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
